@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?uxqiyd');
    src: url('fonts/icomoon.eot?uxqiyd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?uxqiyd') format('woff2'),
    url('fonts/icomoon.ttf?uxqiyd') format('truetype'),
    url('fonts/icomoon.woff?uxqiyd') format('woff'),
    url('fonts/icomoon.svg?uxqiyd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.fa-les-mills {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-les-mills:before {
    content: "\e900";
}

/* Class Type Styles */
.les-mills-class {
    text-transform: uppercase;
    font-weight: bold;
}

.les-mills-class.bodyattack {
    color: #FCC500;
}

.les-mills-class.bodybalance {
    color: #b9d47d;
}

.les-mills-class.bodypump {
    color: #ea4851;
}

.les-mills-class.cxworx {
    color: #ED7402;
}

.les-mills-class.les-mills-core {
    color: #444;
}

.les-mills-class.les-mills-tone {
    color: #777;
}
